In [ ]:
import os
import joblib
import numpy as np
from fastapi import FastAPI, HTTPException
from pydantic import BaseModel
import duckdb
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import StandardScaler
from loguru import logger
import pandas as pd
import requests

In [6]:
data = pd.read_csv('data/ratings.csv')

In [9]:
data['userId'].nunique(), data['movieId'].nunique()

(270896, 45115)

In [12]:
data['rating'].astype('float32')

0           1.0
1           4.5
2           5.0
3           5.0
4           5.0
           ...
26024284    5.0
26024285    5.0
26024286    4.5
26024287    4.5
26024288    2.0
Name: rating, Length: 26024289, dtype: float32

In [39]:
conn = duckdb.connect('data/movies_db.duckdb')

In [40]:
data = conn.execute("SELECT user_id, film_id, rating FROM ratings").df()

In [9]:
data

         user_id  film_id  rating
0              1      110     1.0
1              1      147     4.5
2              1      858     5.0
3              1     1221     5.0
4              1     1246     5.0
...          ...      ...     ...
7463484   270896    55820     5.0
7463485   270896    56174     3.5
7463486   270896    56367     4.5
7463487   270896    58559     5.0
7463488   270896    63082     4.5

[7463489 rows x 3 columns]

In [14]:
pivot_table  = data.pivot(index='user_id', columns='film_id', values='rating').fillna(0)

In [33]:
ratings['film_id'].nunique()

500

In [35]:
svd = TruncatedSVD(n_components=3, random_state=42)
user_features = svd.fit(data)

In [36]:
svd.transform(data)

array([[ 7.42613455e+00,  1.09753619e+02,  9.97765309e-01],
       [ 9.58829244e+00,  1.46690461e+02,  4.49702018e+00],
       [ 5.11354115e+01,  8.56475535e+02,  4.98270163e+00],
       ...,
       [ 2.73726893e+05,  4.04409411e+04, -1.90229614e+00],
       [ 2.73854982e+05,  4.26291955e+04, -1.44643997e+00],
       [ 2.74119282e+05,  4.71444667e+04, -2.03752690e+00]],
      shape=(7463489, 3))

In [ ]:
user_features = svd.transform(pivot_table[0,:])

In [41]:
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split

# Charger les données des évaluations
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(data[['user_id', 'film_id', 'rating']], reader)

# Split train/test et entraînement
trainset, testset = train_test_split(data, test_size=0.2)
algo = SVD()
algo.fit(trainset)

# Faire des prédictions
predictions = algo.predict(uid=1, iid=299536)  # Prévisions pour user_id=1 pour le film #299536
print(predictions.est)

ModuleNotFoundError: No module named 'surprise'

In [26]:
movie_id = 4306

url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=en-US"
    
    
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4YzBhMWU1NzcxOTMxM2ZlYzgyYzA3NzI0M2Y4ZjMxYiIsIm5iZiI6MTc0MjE5ODgxOS44NjA5OTk4LCJzdWIiOiI2N2Q3ZDgyMzE5MTg2OGM1NGZmMWMwOWIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.d-IUNeHmoALNyUtgOoTs-AU2vW87guSX1eNzcLdyTUc"
    
    }
    
response = requests.get(url,headers=headers)
    
if response.status_code == 200:
    print(response.json())
else:
    print(f"Erreur lors de la récupération du film ID {movie_id}: {response.status_code}")

Erreur lors de la récupération du film ID 4306: 404